resource-view {
	display: block;	
}

.rview { 

	&__wrapper {
		border-radius: $border-radius-default;
		background-color: $color-white;
	}

	&__content {
		position: relative;
		padding: 2rem 2rem;
	}
	
	&__content--bar {
		content: '';
		position: absolute;
		left: -.5rem;
		top: 10rem;
		width: .5rem;
		height: 40%;
		border-radius: 100px;
	}

	&__sidenav {
		width: 35rem;
		border-left: solid 5px $color-grey-light;
	}

	&__sidenav--icon {
		width: 17rem;
	}

	&__sidenav--icon--head {
		text-align: center;
		padding-top: 1.2rem;
	}

	&__thumnail {
		margin: 0 auto;
	}

	&__head {
		margin-bottom: 2rem;
	}

	&__summary {
		margin-bottom: 3rem;
		font-size: 120%;
	}

	&__post {
		padding-right: 6rem;
	}

	&__subtitle {
		font-size: 3.5rem;
		font-weight: $font-secondary-bold;
	}

	&__button {
		width: 20rem;
	}

	&__border-bottom {
		border-bottom: solid 1px $color-grey;
	}

	&__icon--responsive {
		display: none;

		i {
			padding: 1rem;
			background: $color-white;
			border-radius: 50%;
		}
	}

	&__image--responsive {
		display: none;
	}

	// responsive
	@include respond(big-desktop){
		&__icon--responsive {
			display: none;
		}
	}
	
	@include respond(tab-land){
		&__icon--responsive {
			display: flex;
		}

		&__content--bar{
			display: none;
		}

		&__sidenav--icon {
			display: none;
		}
	}
	
	@include respond(tab-port){
		&__image--responsive {
			display: block;
		}

		&__content{
			margin-top: -4rem;
		}
		
		&__sidenav {
			display: none;
		}

		&__icon--responsive {
			display: flex;
		}
	}
	
	@include respond(phone){
		&__image--responsive {
			display: block;
		}

		&__content{
			margin-top: -3rem;
		}

		&__sidenav {
			display: none;
		}

		&__icon--responsive {
			display: flex;
		}
	}
	
}