<rd-card data-rd-section="{{$ctrl.resource.type}}">
		<!--<rd-card-toolbar>
			toolbar
		</rd-card-toolbar>-->
		<rd-card-cover ng-if="$ctrl.resource.cover">
				<img ng-src="{{$ctrl.resource.cover}}" alt="Imagen de prueba">
		</rd-card-cover>
		<rd-card-header>
				<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
						<span class="rd-card__icon--circle">
							<i class="ri ri-3x" ng-class="'ri-'+$ctrl.resource.type"></i>
						</span>
						<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
						<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.levels[0]}}</span>
				</div>
		</rd-card-header>
		<rd-card-body>
				<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
				<p class="rd-card__paragraph">{{$ctrl.resource.summary}}</p>
				<p><strong class="rd__text--caption rd__color--grey-light">Febrero 2017</strong></p>
				<p><strong class="rd__text--caption">Johan Mastropiero</strong></p>
		</rd-card-body>
		<rd-card-footer>
			<span class="rd__text--caption">Contiene 20 Recursos</span>
		</rd-card-footer>
</rd-card>