<rd-card class="rd-card__addnew" ng-if="$ctrl.resource.type === 'addnew'">
		<rd-card-body class="rd-card__addnew--body">
			<ul class="new-resource__list">
				<li ng-repeat="item in $ctrl.resource.options">
					<a ui-sref="curador.new({ type: item.section })" layout="row" layout-align="start center">
						<i class="{{item.icon}} color-{{item.section}} ri-3x"></i>
						<span class="new-resource__item">{{item.caption}}</span>
					</a>
				</li>
			</ul>
			<div role="button" class="new-resource__button" ng-hide="$ctrl.resource.clicked" ng-click="$ctrl.resource.clicked = true">
				<div class="new-resource__button--center">
				</div>
			</div>
		</rd-card-body>
</rd-card>
<rd-card data-rd-section="{{$ctrl.resource.type}}" ng-if="$ctrl.resource.type !== 'addnew'">
		<!--<rd-card-toolbar>
			toolbar
		</rd-card-toolbar>-->
		<rd-card-cover ng-if="$ctrl.resource.cover">
				<img ng-src="{{$ctrl.resource.cover}}" alt="Imagen de prueba">
		</rd-card-cover>
		<rd-card-header>
				<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
						<span class="rd-card__icon--circle">
							<i class="ri ri-3x" ng-class="'ri-'+$ctrl.resource.type"></i>
						</span>
						<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
						<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.levels[0]}}</span>
				</div>
		</rd-card-header>
		<rd-card-body>
				<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
				<p class="rd-card__paragraph">{{$ctrl.resource.summary}}</p>
				<p><strong class="rd__text--caption rd__color--grey-light">Febrero 2017</strong></p>
				<p><strong class="rd__text--caption">Johan Mastropiero</strong></p>
		</rd-card-body>
		<rd-card-footer>
			<span class="rd__text--caption">Contiene 20 Recursos</span>
		</rd-card-footer>
</rd-card>