<md-dialog class="post-text__dialog" aria-label="Agregar módulo de medios">
		<form ng-cloak>
			<md-toolbar>
				<div class="md-toolbar-tools post-text__toolbar">
					<h2><i class="ri ri-mas-imagen"></i> Agregar módulo de medios</h2>
				</div>
			</md-toolbar>
	
			<md-dialog-content class="post-text__content">
			</md-dialog-content>
	
			<md-dialog-actions layout="row">
				<md-button class="md-raised post__button" ng-click="$ctrl.clear()">
						Limpiar texto
				</md-button>
				<span flex></span>
				<md-button class="md-raised post__button" ng-click="$ctrl.aceptar()">
					Aceptar
				</md-button>
				<md-button class="md-raised post__button" ng-click="$ctrl.cancel()">
					Cancelar
				</md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>
	