<!-- content here -->
<div class="post__content">
	<div class="post__module" ng-repeat="module in $rdPostController.modules">
		<div class="post__divisor" ng-if="module.type === 'divisor'" draggable="true"></div>
		<div class="post__text" ng-if="module.type === 'text'" draggable="true" ng-bind-html="module.content"></div>
		<div class="post__image--gallery" ng-if="module.type === 'image-gallery'" draggable="true" layout="column" layout-padding>
			<div ng-repeat="image in module.content">
				<img ng-src="{{image.src}}" alt="{{image.description}}">
			</div>
		</div>
		<div class="post__image--grid" ng-if="module.type === 'image-grid'" draggable="true" layout="row" layout-padding>
				<div ng-repeat="image in module.content" flex="33">
					<img ng-src="{{image.src}}" alt="{{image.description}}">
				</div>
			</div>
	</div>
</div>

<div class="post__actions--wrapper">
	<div class="post__actions" layout="row" layout-align="center center">
		<div class="post__actions--caption">
			<i class="ri ri-mas"></i><span> Insertar módulo de:</span>
		</div>
		<md-button class="md-raised post__button" layout="row" ng-click="$rdPostController.addText($event)">
			<i class="ri ri-mas-texto"></i> Texto
		</md-button>
		<md-button class="md-raised post__button" layout="row" ng-click="$rdPostController.addMedia($event)">
			<i class="ri ri-mas-imagen"></i> Media
		</md-button>
		<!--<md-button class="md-raised post__button" layout="row">
			<i class="ri ri-mas-medios"></i> Medios
		</md-button>-->
		<md-button class="md-raised post__button" layout="row" ng-click="$rdPostController.addDivisor($event)">
			<i class="ri ri-divisor"></i> Divisor
		</md-button>
	</div>
</div>