<!-- Links -->
<div class="rview__links" ng-if="$ctrl.resource.links.length > 0">
	<h3 flex class="text-uppercase margin" ng-if="$ctrl.resource.type !== 'propuesta'">Vinculado a {{$ctrl.resource.links.length}} materiales</h3>	
	<h3 flex class="text-uppercase margin" ng-if="$ctrl.resource.type == 'propuesta'">Esta Propuesta Pedagógica contiene {{$ctrl.resource.links.length}} materiales</h3>	
	<md-list ng-cloak>
			<md-list-item ng-repeat="item in $ctrl.resource.links">
				<div ng-if="$ctrl.isPublished == false" layout="row">
						<div layout="row" layout-padding layout-align="start center">
							<div>
									<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
										<img ng-src="{{item.thumbnail}}" alt="Miniatura de la {{item.typeCaption}}">
									</div>
							</div>
							<div flex>
									<div layout="column" layout-align="start center">
										<div class="color-{{item.type}}" layout="row">
											<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
										</div>
										<div><strong>{{item.title}}</strong></div>
									</div>
									<div><p>{{item.summary | truncate:140}}</p></div>
							</div>
						</div>
				</div>
				<div ng-if="$ctrl.isPublished == true"  flex layout="row">
						<a class="rview__link" flex layout="row" layout-padding layout-align="start center" ui-sref="social.ver({ uid: item._id })">
							<div>
									<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
										<img ng-src="{{item.thumbnail}}" alt="Miniatura de la {{item.typeCaption}}">
									</div>
							</div>
							<div flex>
									<div layout="column">
										<div class="color-{{item.type}}" layout="row" layout-align="start center">
											<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
										</div>
										<div><strong>{{item.title}}</strong></div>
									</div>
									<div><p>{{item.summary | truncate:140}}</p></div>
							</div>
						</a>
				</div>
			</md-list-item>
	</md-list>
</div>
<div ng-if="$ctrl.resource.type !== 'propuesta'">
<div class="rview__links" ng-if="$ctrl.resource.relations.length > 0">
		<h3 flex class="text-uppercase">Contenido en {{$ctrl.resource.relations.length}} materiales</h3>	
		<md-list ng-cloak>
				<md-list-item ng-repeat="item in $ctrl.resource.relations">
					<div ng-if="$ctrl.isPublished == false" layout="row">
							<div layout="row" layout-padding layout-align="start center">
								<div>
										<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
											<img ng-src="{{item.thumbnail}}" alt="Miniatura de la {{item.typeCaption}}">
										</div>
								</div>
								<div flex>
										<div layout="column">
												<div class="color-{{item.type}}" layout="row" layout-align="start center">
													<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
												</div>
											<div><strong>{{item.title}}</strong></div>
										</div>
										<div><p>{{item.summary | truncate:140}}</p></div>
								</div>
							</div>
					</div>
					<div ng-if="$ctrl.isPublished == true"  flex layout="row">
							<a class="rview__link" flex layout="row" layout-padding layout-align="start center" ui-sref="social.ver({ uid: item._id })">
								<div>
										<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
											<img ng-src="{{item.thumbnail}}" alt="Miniatura de la {{item.typeCaption}}">
										</div>
								</div>
								<div flex>
										<div layout="column">
											<div class="color-{{item.type}}" layout="row" layout-align="start center">
												<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
											</div>
											<div><strong>{{item.title}}</strong></div>
										</div>
										<div><p>{{item.summary | truncate:140}}</p></div>
								</div>
							</a>
					</div>
				</md-list-item>
		</md-list>
</div>
</div>