
// <rd-card></rd-card>
.rd-card {
	
	&__cover {
		// the size for images of 400x200
		height: 170px;
	}

	&__footer {
		text-align: center;
		text-transform: uppercase;
		padding-top: .803rem;
		padding-bottom: 1.3rem;
	}

	&__wrapper {
		cursor: zoom-in;
	}
	
	&__icon {
		
	}

	&__paragraph {
		margin-bottom: 2rem;
	}

	&__icon--circle {
		background-color: $color-white;
		border-radius: 50%;
		padding: 1rem;
		display: inline-block;
	}

	&__header--wrapper {
		transform: translateY(-13px);
	}

	&__header--type {
		padding-right: 1rem;
		border-right: solid 1px $color-grey-light;
	}

	&__header--level {
		padding-left: 1rem;
	}

	&__body {
		display: block;
		padding-left: 6.8rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
}

// propuestas
// orientaciones

// actividades
// herramientas
// mediateca

.rd-card[data-rd-section="actividades"],
.rd-card[rd-section="actividades"] {
	.rd-card {
		&__cover {
			// the size for images of 400x200
			height: 0px;
		}
	}
}

.rd-card[data-rd-section="herramientas"],
.rd-card[rd-section="herramientas"] {
	.rd-card {
		&__cover {
			// the size for images of 400x200
			height: 0px;
		}
	}
}

.rd-card[data-rd-section="mediateca"],
.rd-card[rd-section="mediateca"] {
	.rd-card {
		&__cover {
			// the size for images of 400x200
			height: 0px;
		}
	}
}

@each $key, $section in $sections {
	.rd-card[data-rd-section="#{$key}"],
	.rd-card[rd-section="#{$key}"] {
		.rd-card__footer,
		.rd-card__icon,
		.rd-card__icon--circle,
		.rd-card__header--type {
			color: map-get($section, color);
		}
	}
}