.post {
	
	&__content {
		padding: .3rem;
	}

	&__actions {
		padding: 1rem;
		border: $border-dashed-default;
		border-radius: $border-radius-default;
	}

	&__actions--wrapper {
		padding: .3rem;
	}

	&__actions--caption {
		font-size: 2rem;
		font-weight: $font-primary-light;

		span {
			font-weight: inherit;
		}
	}

	&__button {
		color: $color-white !important;
		background-color: $color-black-light !important;
	}

	&__button:disabled {
		background-color: $color-grey !important;
		color: $color-grey-light !important;
	}

	// modules
	&__divisor {
		margin-top: $gutter/2;
		margin-bottom: $gutter/2;
		border-top: solid 1px $color-grey-light;
	}

	&__image--gallery {
		& img {
			width: 100%;
		}
	}

	&__image--grid {
		& img {
			width: 100%;
		}
	}

	&__toolbar {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $color-grey-light;
	}

	&__module {
		position: relative;
		border: dashed 1px $color-white;
		padding: 2rem 1rem;
	}

	&__module--editable:hover {
		border-radius: $border-radius-default;
		border: dashed 1px $color-grey;
	}

	&__module--editable:hover &__toolbar {
		visibility: visible;
	}
}

.post-text {
	&__dialog {
		width: 80vw;
	}

	&__toolbar {
		color: $color-white !important;
		background-color: $color-black-light !important;
	}

	&__content {
		padding: 1rem;
	}
}

.post-media {

	&__image--edition {
		img {
			width: 100%;
			height: auto;
		}

		h5 {
			margin-bottom: 1.2rem;
		}

		textarea {
			max-width: 100%;
			width: 100%;
		}
	}

	&__opstions {
		md-radio-button {
			display: inline-block !important;
		}
	}

}