<div class="login__wrapper">
	<div class="login__card">
		<div class="login__header">
			<img class="login__header--logo" src="/assets/ronda-logo.svg" alt="Logo">
			<h1 class="login__header--title" >Inicia sesión</h1>
		</div>
		<form class="login__form">
			<div class="login__form--content">
				<md-input-container>
					<label>Correo</label>
					<input ng-model="email" required autofocus>
				</md-input-container>
				<md-input-container>
					<label>Contraseña</label>
					<input ng-model="password"  required>
				</md-input-container>
				<md-button class="login__button--submit md-raised md-primary">Iniciar sesión</md-button>
			</div>
		</form>
	</div>
</div>